.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    span {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .icon-links {
        margin-right: 1vw;
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
            position: relative;
            top: 50%;
            transform: translateY(-17%);
        }
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
            position: relative; 
            top: 50%;
            transform: translateY(-5%);
        }
    }
}