.test {
    width: 200px;
    height: 200px;
    background-color: green;
  }

// @import '../../node_modules/react-md/src/scss/_react-md.scss';
// @import 'vendors/react-md-overrides';


// @import 'abstracts/variables';
// @import 'abstracts/mixins';

// @import 'base/reset';
// @import 'base/typography';

// @import 'layout/navigation';
// @import 'layout/header';
// @import 'layout/footer';

// @import 'components/buttons';

// @import 'pages/home';

// @include react-md-everything;