@import '~react-md/src/scss/react-md';

.test {
    width: 200px;
    height: 200px;
    background-color: $md-primary-color;
  }

@import 'vendors/react-md-overrides';


@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/header';
@import 'layout/footer';

@import 'components/buttons';

@import 'pages/home';

@include react-md-everything;